@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&display=swap');

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes navLinkFade {
  from {
    transform: translateX(50px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Background */
body {
  overflow: hidden;  ;
  height: 100vh;
  background-color: black;
}

.background {
  z-index: -1;
  height: 100vh;

  background-image: url('./images/background32.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

#backgroundvideo {
  position: fixed;
  z-index: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  opacity: 20%;
  object-fit: cover;
}

/* Navigation Bar */
nav {
  font-family: 'Poppins', sans-serif;

  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: space-around;
  min-height: 8vh;

  background-color: rgb(18, 18, 18);
  box-shadow: 0 1px 10px 10px;
}

.burger div {
  width: 25px;
  height: 4px;
  margin: 5px;

  transition: all 0.3s ease;
  border-radius: 20px;
  background-color: White;
}

.burger {
  z-index: 999;

  display: none; /* only show on mobile screens. */
  cursor: pointer;
}

.logo {
  font-size: auto;
  z-index: 999;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: white;
}

.nav-links {
  z-index: 999;
  display: flex;
  justify-content: space-around;
  width: 40%;
}

.nav-links li {
  width: 7%;
  height: 100%;
  margin: 5px;
  list-style: none;
}

.nav-links a {
  font-family: 'Poppins', sans-serif;
  font-size: 14px;  ;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 1.5px;
  color: white;
}

.nav-links a:hover {
  font-size: 15px;
}

.nav-links .active {
  color: rgb(232, 100, 86);
}

/* Home Page */
.mainhome {
  position: absolute;
  top: 8vh;
  left: 0;

  width: 100vw;
  height: 100vh;
}

.home-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);  /* bring your own prefixes */

  text-align: center;
}

#mainpagelogo {
  font-family: 'Poppins', 'sans-serif';
  font-size: clamp(20px, 45px, 50px);
  letter-spacing: 5px;
  text-transform: capitalize;
  color: white;
}

.home-text #underline {
  width: 90%;
  height: 5px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 50%;

  transform: translateX(-50%);

  border-radius: 5px;
  background-color: white;
}

.home-text h1 {
  font-family: 'Poppins', 'sans-serif';
  font-size: clamp(20px, 25px, 30px);
  color: white;
}

.home-text h4 {
  font-family: 'Poppins', 'sans-serif';
  color: white;
}

.home-text button {
  font-family: 'Poppins', 'sans-serif';
  font-size: 12px;
  font-weight: bold;

  width: clamp(5% 15% 30%);
  height: 50px;
  margin-top: 25px;
  padding: 10px;

  color: rgba(232, 100, 86, 0.8);
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 1);
}

.home-text button:hover {
  cursor: pointer;
  color: rgb(232, 100, 86);
  background-color: rgb(38, 38, 38);
}



/* Contact page*/
.contact-page {
  position: absolute;
  top: clamp(10%, 15%, 20%);
  width: min(90%, 700px);
  margin-right: 5vw;
  margin-left: 5vw;
}

.contact-page-headers {
  margin-bottom: 30px;
}

.contact-page-headers h1 {
  font-family: Poppins, 'sans serif';
  font-size: clamp(3vh, 5vh, 6vh);  ;
  color: white;
}

.contact-page-headers p {
  font-family: Poppins, 'sans serif';
  font-size: 1em;
  color: white;
}

.contact-form h6 {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1vh, 1.5vh, 2vh);
  letter-spacing: 1.5px;
  color: white;
}

textarea:focus, input:focus{
  outline: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px rgb(28, 28, 28) inset !important;
  -webkit-text-fill-color: white !important;
}

.contact-form input {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1vh, 1.5vh, 1.5vh);

  width: 100%;
  margin-bottom: 2em;
  padding: 2em;

  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 1);
}

.contact-form textarea {
  font-family: 'Inter', sans-serif;
  font-size: clamp(1vh, 1.5vh, 1.5vh);

  width: 100%;
  height: 25%;
  margin-bottom: 2em;
  padding: 2em;
  resize: none;

  color: white;
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 1);
}

.contact-form button {
  font-family: 'Poppins', sans-serif;
  font-size: 1em;

  width: clamp(25%, 25%, 30%);
  height: clamp(6vh, 6.5vh, 7vh);
  margin-top: 0.5em;

  color: rgb(232, 100, 86);
  border: none;
  border-radius: 5px;
  background-color: rgba(28, 28, 28, 1);
}

.contact-form button:hover {
  cursor: pointer;
  background-color: rgb(38, 38, 38);
}

/* Media Queries */
@media screen and (max-width:768px) {
  body {
    overflow-y: visible;
  }

  .nav-links {
    position: absolute;
    top: 8vh;
    right: 0;

    display: none;
    align-items: center;
    flex-direction: column;

    width: 70%;
    height: 100vh;
    padding-top: 10vh;

    transition: transform 0.3s ease-in;
    transform: translateX(100%);
    background-color: rgb(28, 28, 28);
  }

  .nav-links li {
    opacity: 0;
  }

  .logo {
    font-size: clamp(1vh, 1.5vh, 2vh);
  }

  .burger {
    display: block;
  }
}

.nav-active {
  display: flex;
  transform: translateX(0%);
}

.toggle .line1 {
  transform: rotate(45deg) translate(5px, 8px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(-225deg) translate(-5px, 8px);
}
